.nav {
  background: #1e293b;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.nav a {
  color: #cbd5f5;
  text-decoration: none;
}

.nav a.active {
  color: white;
  font-weight: bold;
}

.nav button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.container {
  padding: 30px;
}

button {
  padding: 10px 15px;
  background: #6366f1;
  color: white;
  border: none;
  cursor: pointer;
}
