body {
    background-color: #1f2a4a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    inline-size: 70%;
    margin: auto;
}

img {
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-block-end: 5px;
}

p {
    text-align: center;
    font-size: 14px;
}

h2 {
    color: #7CFC00;
    margin-block-start: 40px;
}

h3 {
    margin-block-start: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

h2:last-of-type {
    margin-block-end: 10px;
}

p:last-child {
    color: #ff8080;
    text-align: center;
}
